@charset "utf-8";
/* CSS Document */

.regis{
	border-radius: 10px; 
	width: 500px; 
	height: 710px; 
	position: absolute; 
	left: 582px; 
	top: 249px; 
	background: #FFFFFF; 
}

.banner{
	width: 120px; 
	position: relative; 
	top: 200px; 
	left: 750px; 
}










